/* BANNER VIDEO */
.banner {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 900;
    border-radius: 6px;
    box-shadow: 0px 10px 30px var(--gris-fuerte), 0px -10px 30px var(--gris-fuerte);
    cursor: pointer;
  }
  
  .video {
    position: relative;
    top: 3%;
    left: 0;
  }