.detalle-pelicula-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .detalle-card {
    background-color: #000000;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; 
  }
  
  .detalle-title {
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; 
  }
  
  .detalle-content {
    display: flex;
    align-items: flex-start;
  }
  
  .detalle-image {
    flex-shrink: 0;
    margin-right: 20px;
  }
  
  .detalle-image img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .detalle-info {
    flex-grow: 1;
  }
  
  .detalle-info div {
    margin-bottom: 20px;
  }
  
  .detalle-info h3 {
    color: #b9b9b9;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .detalle-info p {
    color: #555;
    font-size: 1em;
  }
  
  .detalle-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .detalle-info li {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
  }

  @media (max-width: 667px) {
    .detalle-card {
      width: 90%;
    }
    .detalle-title {
      font-size: 1em; 
      letter-spacing: 1px; 
    }
    .detalle-image {
      flex-shrink: 0;
      margin-right: 0px;
    }
    .detalle-image img {
      width: 70%; 
      height: auto;
    }
    .detalle-info h3 {
      color: #b9b9b9;
      font-size: 0.9em;
      margin-bottom: 10px;
    }
    
    .detalle-info p {
      color: #555;
      font-size: 0.8em;
    }
    .detalle-info li {
      color: #555;
      font-size: 0.8em;
      margin-bottom: 8px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 8px;
    }
  }
