/* FAVORITOS */
.container-fav {
    height: 100vh;
    padding-top: 70px;
  }
  
  .movie-list-fav {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  
  .movie-card-fav {
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .movie-title-fav {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
  }
  
  .movie-image-fav img {
    border-radius: 4px;
    max-width: 100%;
    max-height: 200px; 
  }
  
  .descripcion-container-fav {
    justify-content: space-between;
    flex-grow: 1; 
  }
  
  .trash {
    display: flex;
    justify-content: flex-end;
  }
  
  .trash button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 6px 4px 6px;
  }
  
  .comment-text {
    max-height: 100px;
    overflow-y: auto;
  }
  
  p {
    font-size: 0.8rem; 
    font-weight: bold;
    color: #ffffff;
    text-align: justify;
  }
  
  .fav button {
    padding: 4px 20px;
    background-color: #f2bb15;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 70%;
  }
  
  .not-movie-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .not-favorites-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .notfavorites {
    color: transparent;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 1px #f2bb15;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    letter-spacing: 4px;
  }

  @media (max-width: 667px) {
    .movie-list-fav {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 20px;
    }

    .movie-card {
      background-color: #000000;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .movie-image-fav img {
      width: 70%;
      height: auto;
    }

    .movie-title-fav {
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 5px;
      color: #ffffff;
      text-align: center;
      padding: 5px;
      text-transform: uppercase; 
      letter-spacing: 1px; 
    }

    .fav button {
      padding: 4px 13px;
      background-color: #f2bb15;
      color: white;
      border: none;
      border-radius: 4px;
      margin-top: 10px;
      cursor: pointer;
      height: 30px;
      width: 70%;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: bold;
      font-size: 10px;
    }

    .trash button {
      background-color: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    .trash button img {
      cursor: pointer;
      height: 25px;
      width: 25px;
      margin-top: 0;
    }
    
    p {
      font-size: 0.8rem; 
      font-weight: bold;
      color: #ffffff;
      text-align: justify;
    }

    .notfavorites {
      color: transparent;
      font-family: 'Pacifico', cursive;
      -webkit-text-stroke: 1px #f2bb15;
      text-align: center;
      font-size: 0.8rem;
      padding: 10px;
      letter-spacing: 2px;
    }
  }