/* LOGIN, REGISTER AND ACCOUNT */
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container h2 {
    color: transparent;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 1px #f2bb15;
    text-align: center;
    font-size: 2rem;
    padding: 10px; 
    letter-spacing: 4px;
  }
  
  .styled-input {
    border: 1px solid #858585;
    padding: 12px;
    border-radius: 5px;
    background-color: #8c8888;
    color: #ffffff;
    font-size: 1rem;
    width: 50vw;
    box-sizing: border-box;
    cursor: not-allowed;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
  }
  
  .input-container input {
    height: 40px; 
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff; 
  }
  
  .label-container {
    text-align: left;
    margin-bottom: 8px; 
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px; 
  }
  
  span {
    display: block;
    text-align: center;
    margin-top: 20px; 
    color: #555; 
  }
  
  span a {
    color: #f2bb15; 
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px; 
  }

  @media (max-width: 768px) {
    .container {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 45px;
    }
    .container h2 {
      color: transparent;
      font-family: 'Pacifico', cursive;
      -webkit-text-stroke: 1px #f2bb15;
      text-align: center;
      font-size: 1.3rem;
      padding: 5px; 
      letter-spacing: 2px;
    }

    .styled-input {
      padding: 12px;
      border-radius: 5px;
      background-color: #8c8888;
      color: #ffffff;
      font-size: 1rem;
      width: 70vw;
      box-sizing: border-box;
      cursor: not-allowed;
    }
    
    .input-container {
      display: flex;
      flex-direction: column;
      width: 70vw;
      margin: 0 auto;
    }
    
    .input-container input {
      height: 35px; 
      width: 100%;
    }
    
    label {
      display: block;
      margin-bottom: 8px;
      color: #b7b7b7; 
      font-size: 15px;
    }
    
    .label-container {
      text-align: left;
      margin-bottom: 8px; 
    }
    
    .button-container {
      text-align: center;
      margin-top: 20px; 
    }
    
    span {
      display: block;
      text-align: center;
      margin-top: 20px; 
      color: #555; 
    }
    
    span a {
      color: #f2bb15; 
      text-decoration: none;
      font-weight: bold;
      margin-left: 5px; 
    }

    .styled-input {
      border: 1px solid #858585;
      padding: 12px;
      border-radius: 5px;
      background-color: #8c8888;
      color: #ffffff;
      font-size: 1rem;
      height: 35px;
      padding-top: 5px;
      box-sizing: border-box;
      cursor: not-allowed;
    }
    
  }