/* NAVBAR */
header {
    position: absolute;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 10px;
    width: 100%;
    transition: margin-top 0.5s ease-out;
    z-index: 997;
    box-shadow: 0px 45px 35px rgb(0, 0, 0) inset;
  }
  
  .navbar-logout-box {
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #1A1A1B;
    border-radius: 8px;
    padding: 10px;
    width: 140px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .navbar-logout-box button {
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 5px;
    color: white;
    font-weight: bold;
  }
  
  .logo  {
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 5px;
    display: block;
  }
  
  nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px; 
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    margin-right: 10px; 
    font-weight: bold;
  }
  
  nav a:hover {
    background-color: rgba(252, 244, 84, 0.228);
    border-radius: 5px;
  }
  
  nav a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: rgba(255, 242, 0, 0.8);
    transition: width 0.5s ease;
  }
  
  nav a:hover::after {
    width: 100%;
  }

  .user {
    display: block; 
  }
  
  @media screen and (max-width: 600px) {
    header {
      position: absolute;
      height: 80px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 0 10px;
      width: 100%;
      transition: margin-top 0.5s ease-out;
      z-index: 997;
      box-shadow: 0px 45px 35px rgb(0, 0, 0) inset;
    }
    .logo {
      max-width: 50px;
      height: 50px; 
      margin: 0 0 0 5px;
      margin-top: 8px;
    }
    nav a {
      color: white;
      text-decoration: none;
      margin-right: 0px; 
      font-weight: bold;
      font-size: 1rem;
    }
    .user {
      display: none; 
    }
    .navbar-logout-box {
      position: absolute;
      top: 100%; 
      right: 0;
      background-color: #1A1A1B;
      border-radius: 8px;
      padding: 5px;
      width: 105px;
      text-align: center;
      z-index: 1000;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      color: white;
    }
    .navbar-logout-box button {
      background-color: #ff0000;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 4px 6px;
      color: white;
      font-size: 12px;
      font-weight: bold;
    }
  }