  /* PELICULAS */
  section {
    margin: 20px;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
  }
  
  .movie-card {
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    outline: none;
  }
  
  .movie-description {
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffffff;
    outline: none;
  }
  
  .movie-image {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .movie-image img {
    border-radius: 4px;
    width: 70%;
    height: auto;
  }
  
  .search-bar {
    text-align: center;
    margin: 30px 0;
  }
  
  .search-bar input {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .favorito {
    margin-left: auto;
  }
  
  .favorito button {
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px 4px 8px;
  }
  
  .descripcion-container {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  
  .descripcion-container img {
    width: 20px;
    height: 20px;
  }
  
  .corazon{
    color: white;
    font-size: 5px;
    margin: auto;
  }
  
  @media (max-width: 667px) {
    .movie-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 20px;
    }

    .movie-image img {
      width: 70%;
      height: auto;
    }

    .movie-title {
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 5px;
      color: #ffffff;
      text-align: center;
      padding: 5px;
      text-transform: uppercase; 
      letter-spacing: 1px; 
    }

    .search-bar {
      text-align: center;
      margin: 10px 0;
    }

    .search-bar input {
      width: 65%;
      height: 35px;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .favorito button {
      background-color: #ff0000;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 2px 6px 2px 6px;
    }
    .favorito button img {
      height: 18px;
      width: 18px;
    }
  }