/* SplashScreen.css */
.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c1c1c;
  color: #f2bb15;
}

.splash-screen h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  margin-bottom: 0.2em;
  letter-spacing: 4px;
}

.title-splash {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0.2em;
    letter-spacing: 4px;
  }

.splash-screen p {
  font-size: 1.5em;
  opacity: 0.8;
  color: #7e7e7e;
}

.splash-screen img {
  margin-top: 2em;
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Agregamos animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.splash-screen {
  animation: fadeIn 1s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .splash-screen {
    padding: 20px; 
  }

  .splash-screen h1 {
    font-size: 2.5em; 
  }

  .splash-screen p {
    font-size: 1.2em; 
  }

  .splash-screen img {
    max-width: 50%; 
    margin-top: 1em; 
  }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

